/* ----------- ROOT VARIABLES ----------- */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #1DBC60;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
  
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0 2rem 3rem var(--color-light);
}
  
/* -------------------- DARK THEME VARAIBLES ----------------------- */
.dark-theme-variables {
--color-background: #181a1e;
--color-white: #202528;
--color-dark: #edeffd;
--color-dark-variant:#a3bdcc;
--color-light: rgba(0, 0, 0, 0.4);
--box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    color: var(--color-dark);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background-color: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}


.container {
    display: grid;
    width: 92%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--color-dark)

}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}


h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}
.danger {
    color: var(--color-danger);
}
.success {
    color: var(--color-success);
}
.warning {
    color: var(--color-warning);
}


/* =============Sidebar top-part=============== */
aside {
    height: 100vh;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 1rem;
}

aside .logo .img{
    width: 100%;
    height: auto;
}

aside .close {
    display: none;
}

/* =============Sidebar bottom-part=============== */

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    top: 3rem;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 4rem;
    transition: all 300ms ease;
}

aside .sidebar a i {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);

}

aside .sidebar a.active i {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover i{
    margin-left: 1rem;
}

/* ============= MAIN CONTENT ================= */

main {
    margin-top: 3rem;
}

main .product-description {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr;
    margin-bottom: 2rem;
    gap: 10rem;
    background: var(--color-light);
    padding: 1.5rem;
    border-radius: var(--border-radius-3);
}

main .dp {
    width: 400px;
    height: 400px;
    background-color: var(--color-white);
    border-radius: var(--border-radius-3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: var(--border-radius-3);
}

.carousel-images {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 300ms ease-in-out;
}

.carousel-images .image-wrapper {
    flex: 0 0 100%;
    height: 100%;
}

.carousel-images .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-3);
}


  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1;
  }
  
  .carousel-btn.prev {
    left: 10px;
  }
  
  .carousel-btn.next {
    right: 10px;
  }
  

  #addImagesBtn {
    padding: 8px 16px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius-2);
    margin-top: 10px;
}

#addImagesBtn:hover {
    filter: brightness(0.9); 
    transform: scale(1.03);  
}
#addCategoryBtn {
    padding: 8px 16px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--border-radius-2);
    margin-top: 10px;
}

#addCategoryBtn:hover {
    filter: brightness(0.9); 
    transform: scale(1.03);  
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    z-index: 10;
}

/* Input fieldbox control */

main .product-details {
    font-size: 1.3rem;
    margin: 0.3rem 0;
    color: var(--color-dark-variant);
    width: 100%;
}

.form-group {
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
}

.styled-input,
.styled-input:focus,
.styled-input:active {
    padding: 0.75rem 1rem;
    border-radius: var(--border-radius-2);
    border: 1px solid var(--color-info-light);
    font-size: 1rem;
    background: var(--color-white);
    color: var(--color-dark);
    transition: border 0.3s ease;
}

.styled-input:focus {
    border-color: var(--color-primary);
    outline: none;
    box-shadow: 0 0 0 2px rgba(115, 128, 236, 0.25);
}

  .custom-select-wrapper {
    position: relative;
    width: 100%;
}

#category {
    color: var(--color-dark-variant);
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: var(--color-white);
    border: 1px solid var(--color-info-light);
    padding: 10px 40px 10px 12px;
    font-size: 16px;
    width: 100%;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.custom-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--color-dark-variant);
    font-size: 1.2rem;
}

  .custom-select:focus {
    border-color: var(--color-primary);
    outline: none;
    box-shadow: 0 0 0 2px rgba(115, 128, 236, 0.25);
  }

/* ===================== MAIN - ACTION ===================== */

/* Style the container for proper alignment */
main .actions {
    margin-top: 2rem;
    text-align: right;
}

.action-link {
    display: inline-block;
    padding: 0.5rem 1.2rem;
    border-radius: var(--border-radius-2); 
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-primary);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-right: 5px; 
}

.action-link.add {
    background-color: var(--color-success);
}

.action-link.update {
    background-color: var(--color-success);
}

.action-link.cancel {
    background-color: var(--color-warning);
}

.category-actions {
    margin-top: -15px;
    font-size: 0.9rem;
}

.category-actions .action-link {
    padding: 0; 
    background-color: transparent;
    border-radius: 0; 
    color: var(--color-primary); 
    font-weight: 500;
}


.action-link.delete {
    color: var(--color-danger);
}

.action-link:hover {
    filter: brightness(0.9); /* Makes the button appear slightly darker when hovered */
    transform: scale(1.03);  
}

/* ==================== CUSTOMER REVIEWS ==================== */

main .name-and-date {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}
main .customer-reviews .star{
    font-size: 2rem;
    color: var(--color-primary);
}

.customer-reviews .comments {
    margin-top: 2rem;
}

.customer-reviews .comments .comment{
    margin-top: 1rem;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--border-radius-3);
}

.customer-reviews .comments .comment-action {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.customer-reviews .comments .action-link {
    padding: 0; 
    background-color: transparent;
    border-radius: 0; 
    color: var(--color-primary); 
    font-weight: 500;
    
}

.customer-reviews .comments .action-link.remove {
    color: var(--color-danger);
}

.reply-box input {
    padding: 0.4rem;
    width: 70%;
    margin-right: 0.5rem;
}

.reply-box button {
    padding: 0.4rem 0.8rem;
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.admin-reply p {
    background-color: #f1f1f1;
    padding: 0.5rem;
    border-left: 3px solid var(--color-primary);
    border-radius: 5px;
    margin: 0.2rem 0;
}


/* ======================CATEGORY MODAL ================== */

.custom-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal-content {
    background-color: var(--color-white);
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    text-align: center;
}

.close-modal {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

.modal-button {
    padding: 10px 20px;
    background-color: var(--color-success);
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-button:hover {
    filter: brightness(0.9); /* Makes the button appear slightly darker when hovered */
    transform: scale(1.03);  
}


/* ======================= RIGHT =================== */
.right {
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler i {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler i.active {
    background:var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right .top .log-out{
    display: flex;
    gap: 0.5rem;
    background: var(--color-danger);
    padding: 0.8rem;
    border-radius: 20px;
    color: var(--color-white);
    font-size: 1.2rem;
    align-items: center;
}

/* Logout Modal Styles */
.custom-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.custom-modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.custom-modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.custom-modal-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

#confirmLogout {
    background-color: #e74c3c;
    color: white;
}

#cancelLogout {
    background-color: #bdc3c7;
    color: black;
}
/* ============== RESPONSIVE TABLET ================= */
@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;

    }

    /* MAIN CONTENT CHANGES */

    main .product-description {
        display: block;
    }

    main .add-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .dp {
        margin: 0 auto; /* Center horizontally */
    }

    .carousel {
        margin: 0 auto; /* Center the carousel too if needed */
    }

    main .product-details {
        margin-top: 2rem;
    }
}

/* ============== RESPONSIVE PHONE ================= */

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%; 
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
        transition: left 0.4s ease;

    }

    @keyframes showMenu {
        to {
            left:0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }
    
    aside .close i {
        font-size: 1.5rem;
    }

    /* MAIN CONTENT CHANGES */
    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .purchase-history {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .purchase-history table {
        width: 100%;
        margin: 0;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: relative;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right .top button i{
        font-size: 2rem;
    }

    .custom-modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding-top: 60px;
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
    }
    
    .close-modal {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close-modal:hover,
    .close-modal:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    /* Button Styles */
    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 4px;
    }
    
    button:hover {
        background-color: #45a049;
    }
    
    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

}