* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none !important;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #D69ADE;
    user-select: none;
    overflow-x: hidden;
}

/* Side / Menu bar */
.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    background: #F8FAFC;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: black;
}

img{
    display: block;
    width: 100%;
}

h1 {
    font-weight: 1.4rem;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    size: 0.8rem;
}

h5{
    font-size: 0.75rem;
}

small{
    font-size: 0.75rem;
}

.text-muted {
    color: #7d8da1;
}

aside {
    height: 100vh;
    background: white;
}

aside .top {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 100%;
    height: auto;
}

aside .close{
    display: none;
}

/* side bar */
aside .sidebar {
    background: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside .sidebar a{
    display: flex;
    color: black;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 4rem;
    transition: all 300ms ease;
}

aside .sidebar a i {
    font-size: 1.6rem;
    transition: all 300ms ease;
}


aside .sidebar a.active {
    background: #D69ADE;
    color: white;
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: #AA60C8;
}

aside .sidebar a.active i {
    color: white;
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: white;
}

aside .sidebar a:hover i {
    margin-left: 1rem;
}

