 .editprofile {
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 500px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05);
    flex-direction: column;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
  }

  .editprofile h3{
    align-items: left;
    padding: 20px;
  }

  .editprofile img{
    align-items: center;
    max-height: 300px;
    max-width: 300px;
    align-items: center;

  }