.card-header {
    background: #AA60C8;
}

.custom-btn {
    background: #AA60C8;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-btn:hover {
    background-color: #AA60C8; 
    color: black;
}

.footer {
    background-color: #AA60C8;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.grad {
    min-height: 100vh; /* Ensures full height */
    display: flex;
    align-items: center;
    justify-content: center;
}

