*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.containerprofile{
  display: flex;
  align-items: flex-start;
}

.profileview{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 10px;
padding-top: 40px;
box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05);
border-radius: 20px;
border: 1px solid #ddd;
padding-bottom: 20px;
margin: 20px;
border: 1px solid #ddd;
}

.purchases{
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd;
  border-radius: 20px;
  padding-bottom: 20px;
  margin: 20px;
}

.purchases h3{
  padding: 20px;
  text-align: left;
}

.profileview img, .recentpurchaseproduct img {
display: flex;
height: 100px;
width: 100px;
object-fit: cover;
padding: 20px;
}

.profileview h4{
display: flex;
}

.imgdiv{
display: flex;
}

.btn1 {
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.btn1:hover{
  font-weight: bold;
}

.recentpurchaseproduct{
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #ddd;
  border-radius: 10px;
  padding: 10px 20px 5px 20px;
}

.productcontent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.status {
  padding: 2px 8px;
  border-radius: 5px;
  font-weight: 500;
}

.status.completed {
  color: green;
  background-color: #e6f5e6;
}

.status.pending {
  color: orange;
  background-color: #fff4e5;
}

.productdateprice{
  text-align: right;
}

.modal-header h1{
  font-size: 20px;
  font-weight: bold;
}

#checkout-modal .confirm-btn{
  background-color: #AA60C8;
  color: white;
}

#checkout-modal .confirm-btn:hover {
  background-color: #e63946;
  color: white;
}